name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.8"
          - "3.8"
          - "3.8"
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install --requirement dev-requirements.txt

      - name: Validate coding guidelines
        if: matrix.python-version == '3.8'
        run: pre-commit run --all-files

      - name: Run tests
        run: |
          python setup.py develop
          pytest --verbose

      - name: Build and install the package
        run: |
          python setup.py bdist_wheel
          python setup.py install

      - name: Test drive the installed pygount
        run: |
          pygount --version
          pygount --help
          pygount pygount *.cfg *.yaml
          pygount --format=summary pygount *.cfg *.yaml

      - name: Upload coverage to Coveralls
        if: matrix.python-version == '3.8'
        run: coveralls
